<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- css dinamico  --}}
    <link rel="stylesheet" href="/css/{{filecss}}">
    <title>{{title}}</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
        <li>{{title}} - {{price}} - {{description}} - {{category}} - {{thumbnail}} - {{code}} - {{stock}}</li>
        {{/each}}
    </ul>
</body>
</html>